body {
    direction: rtl;
    text-align: right;
    letter-spacing:0 !important;
}
.rtl .screenshots .col-sm-12{margin:0 !important;-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.rtl .screenshots-rtl .owl-stage-outer{padding-top:10px;padding-bottom:10px;margin-left:10px}.rtl .screenshots-rtl .owl-item.active{-webkit-transform:scale(1);transform:scale(1);margin-right:-5px !important;margin-left:0px !important}.rtl .screenshots-rtl .owl-item.active.center{-webkit-transform:scale(1.15);transform:scale(1.15);z-index:99}.rtl .news-slider-rtl .news-slid{margin-bottom:0px}.rtl .news-slid .blog-hover{text-align:right}.rtl .news-slid .blog-hover .blog-details-list li+li{padding-left:0;margin-left:0;border-left:0;padding-right:7px;margin-right:7px;border-right:1px solid #586082}.rtl .news-box,.rtl .news-text{text-align:right}.rtl .contact .auth-form{padding-right:0;padding-left:150px}.rtl .subscribe{border-left:1px solid #fff;border-right:0;padding-left:30px}.rtl .navbar-brand{margin-left:1rem;margin-right:unset}.rtl .dropdown-toggle::after{margin-right:.255em;margin-left:0}.rtl .nav-item.dropdown .dropdown-menu{right:15px;left:0}.rtl .dropdown-menu{text-align:right}.rtl .theme-breadcrumb{float:left}.rtl .breadcrumb-bg h2{float:right}.rtl .sidebar{text-align:right}.rtl .media-body{text-align:right}.rtl .clock-box{text-align:right}.rtl .btn-email{margin-right:15px;margin-left:unset}.rtl .auth-form .form-group label{right:inherit;left:15px}.rtl .auth-form .form-group i{right:inherit;left:15px}.rtl .about-border{border-left:1px solid #dddddd;border-right:none}.rtl .slide-text{text-align:right}.rtl .slid-btn a:first-child{margin-left:15px;margin-right:0}.rtl .app-work{text-align:right}.rtl .app-work .tab-content p{text-align:right}.rtl .hover-text{text-align:right}.rtl .download-img ul li{margin-right:unset;margin-left:7px}.rtl .email-box{padding:25px 44px 23px 0;text-align:right}.rtl .contact-circle{right:0;left:unset}.rtl .contact-box li{padding-right:100px;padding-left:0}.rtl .contact-box .contact-text{text-align:right}.rtl .testimonil-box .owl-dots{margin-left:0;margin-right:200px}.rtl .testimonial-slider-rtl.owl-carousel .owl-item img{display:block;width:105px}.rtl .auth-form .forgot-pass{left:5px;right:unset;border-left:unset;border-right:1px solid #d8d8d8}@media (max-width: 1199px){.rtl .profile-2{left:120px;right:unset}.rtl .profile-1{right:unset;left:-90px}.rtl .emoji{left:190px;right:unset}.rtl .awesome{right:unset;top:190px;left:-30px}.rtl .contact-box li{padding-right:70px}.rtl .contact .auth-form{padding-left:50px}}@media (max-width: 991px){.rtl .profile-msg{right:0}.rtl .subscribe{border:0 !important}.rtl .dropdown-menu{text-align:left}}@media (max-width: 767px){.rtl .profile-1{right:unset;left:-60px}.rtl .emoji{left:220px;right:unset}.rtl .testimonil-box .owl-dots{margin-right:0}.rtl .news-slid .news-text,.rtl .news-slid .blog-hover{text-align:center}.rtl .contact{text-align:center !important}.rtl .contact .text-right{text-align:center !important}.rtl .contact .contact-box .contact-text{text-align:center}.rtl .contact .auth-form{padding-left:0 !important}.rtl .testimonial-slider-rtl.owl-carousel .owl-item img{margin:0 auto}.rtl .testi-profile .media-body{padding-left:0;text-align:center}.rtl .slide-text{text-align:center}.rtl .contact-box li{padding-right:0}}@media (max-width: 575px){.rtl .theme-breadcrumb{float:none}.rtl .theme-breadcrumb{float:none}.rtl .breadcrumb-bg h2{float:none}.rtl .contact{padding-right:15px;padding-left:15px}}@media (max-width: 480px){.rtl .email-box{padding:0 0 30px 0;text-align:center}.rtl .btn-email{margin:20px auto 0}}

.about-border {
    border-left: 1px solid #dddddd;
    border-right: none;
}

.future-timeline-right.text-left {
    text-align: right !important;;
}


.timeline-right:before {
    float: right;
    right: -21px;
}
.future-timeline-right:after {
    right: 0;
    left: unset;
}
.future-timeline:after{
    right: unset;
    left: 0;
}
.timeline:before{
    left: -21px;
    float: left;
    right: unset;
}
.text-left{
    text-align: right !important;
}
.future-timeline{
    text-align: left;
}
.work{
    direction: ltr;

}
#package{
    direction: ltr;   
}
.auth-form .form-group i{
    right:20px;
    left: unset;
}
.subscribe{
    border-left: 1px solid #ffffff;
    border-right: unset;
}
.faq .accordion button{
    text-align: right;
}
.faq .accordion button i{
    float: left;
}
.contact .auth-form {
    padding-left: 150px;
    padding-right: 0;
}
.contact-box li{
    padding-right: 70px;
    padding-left: 0;
}
.contact-circle{
    right: 0;
    left: unset;
}

html, body, div, p, span, ul, li, a{
    font-family: 'Droid Arabic Kufi' !important;
    font-weight: norma;
}
p{
    text-align: right;
    direction: ltr;
}
select{
    direction: rtl;
}
.sub-title{
    font-size: 16px;
}
p, div, span{
    font-size: 14px;
}
.slide-text h1{
    font-size: 36px;
}
.slide-text h3{
    font-size: 20px;
}
.slide-text h4{
    font-size: 16px;
}
.slid-btn span{
    font-size: 14px;
}
.section-title{
    direction: rtl;
}
.section-title p,.process-box p{
    text-align: center;
}
#mainmenu li .nav-link{
    font-size: 16px;
}
.btn-email{
    padding: 10px 20px !important;
}
.btn{
    font-size: 14px !important;
}
.download-text ul li {
    text-align: right !important;
}
.download-text ul li span { 
    float: right !important;
}
h1, h2, h3, h4, h5, h6, .copyright a{
    letter-spacing:-1 !important;
}
.rtl .btn-email{
    margin-right: 0px;
}
.offset-md-1{
    margin-right: 8.333333%;
}