#mainmenu .dropdown-menu {
    margin-top: -20px;
}

.display-none {
    display: none;
}

.copyright a {
    color: #586082;
}

.inner-page .request-page .auth-card {
    width: 100%;
}

.slide-text h1 {
    font-size: 32px;
    font-weight: bold;
}

.slide-text h3 {
    font-size: 22px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
}

.slide-text h4 {
    font-weight: bold;
}

.animation-circle {
    display: none;
}

.chat-box img {
    width: 150px;
}

.navbar-nav .nav-item .nav-link {
    color: rgb(255, 255, 255);
}

.theme-bg {
    background: linear-gradient(to right, #5f5f5f 0%, #5f5f5f 100%);
}

.subscribe-bg {
    background: linear-gradient(to right, #5f5f5f 0%, #5f5f5f 100%);
    padding: 40px 0;
}

.darkHeader {
    background: linear-gradient(to right, #5f5f5f 0%, #62c0f4 100%);
}

.social-footer ul li {
    background: #5f5f5f;
}

h2 {
    color: #2b94ce;
}

.btn-theme,
.inner-page .navbar {
    background-color: #5f5f5f;
    background: linear-gradient(to right, #5f5f5f 0%, #5f5f5f 100%);
}

.contact-circle {
    border: 2px solid #2b94ce;
    color: #5f5f5f;
}

.section-title {
    margin-bottom: 25px;
    margin-top: 25px;
}

.section-title .line:after {
    border: 2.5px dashed #5f5f5f;
}

.chat-box img {
    height: 150px;
}

.process-box img {
    width: 150px;
    height: 150px;
}

.btn-email {
    color: #2b94ce;
    margin-left: 0px;
}

.tap-top {
    background: linear-gradient(to right, #5f5f5f 0%, #5f5f5f 100%);
}

.btn-theme {}

#box {
    background: linear-gradient(to right, #5f5f5f 0%, #5f5f5f 100%);
}

.future-box {
    padding: 25px 0;
}

.timeline p,
.timeline-right p {
    margin-bottom: 35px;
    margin-right: 0px;
}

.section-title p,
.process-box p {
    text-align: center;
}

.paganition-center {
    justify-content: center;
    padding-top: 25px;
}

.theme-nav .nav-item {
    padding: 5px 2px;
    letter-spacing: 0px;
}

.theme-nav.darkHeader .nav-item {
    padding: 0px 2px;
}

.slid-btn span {
    font-size: 18px;
    color: #fff;
}


.inner-page section {
    padding-top: 20px;
}

.download-img img {
    width: 160px;
}

.strike {
    text-decoration: line-through;
}

.download-text h1 {
    font-size: 48 !important;
    letter-spacing: -1px;
    color: #2b94ce;
}

.download-text ul {
    list-style-type: none;
    padding-left: 0px;
}

.download-text ul li {
    text-align: left;
}

.download-text ul li span {
    float: left;
    width: 100px;
    font-size: 18px;
    color: #586082;
    font-weight: bold;
    margin-bottom: 10px;
}

.download-text ul li small {
    font-size: 16px;
    color: #586082;
}

.download-text ul li small.badge {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
    width: 95px;
}

.download-text p {
    color: #2b94ce;
    font-size: 24px;
}

section {
    padding-top: 25px;
    padding-bottom: 25px;
}

h2 {
    margin-bottom: 20px;
}

.theme-nav {
    background: #5f5f5f;
}

.btn-primary {
    color: #fff;
    background-color: #5f5f5f;
    border-color: #5f5f5f;
}

.form-control {
    height: 45px !important;
    padding: 10px 10px;
    position: relative;
    transition: all 0.3s ease 0s;
}

h2.register-title {
    padding-top: 65px;
    padding-bottom: 30px;
}

#pricing .package-box {
    padding: 5px 0 5px;
}

#pricing .item {
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 15px;
    min-height: 385px;
}

#pricing .item .package-box h3 {
    color: #2b94ce;
    margin-bottom: 15px;
}

#pricing .price-box {
    border: none;
}

#pricing .price-box h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
}

#pricing .price-plan-btn,
#pricing .price-plan-btn:hover,
#pricing .price-plan-btn:active,
#pricing .price-plan-btn:focus {
    background-color: #5f5f5f;
    background: linear-gradient(to right, #5f5f5f 0%, #5f5f5f 100%);
    color: #ffffff;
}

#pricing .price-plan li {
    margin-bottom: 15px !important;
}

#pricing .price-plan li h3 {
    color: #586082 !important;
    font-weight: 400;
}

#pricing .price-plan {
    padding: 15px 0px 15px;
}

.static_hide {
    line-height: 48px;
}

#contact .contactus-btn,
#contact .contactus-btn:hover,
#contact .contactus-btn:active,
#contact .contactus-btn:focus {
    background-color: #5f5f5f;
    background: linear-gradient(to right, #5f5f5f 0%, #5f5f5f 100%);
    color: #ffffff;
}

.pages .features li h4 {
    color: #586082;
    font-size: 16px;
}

.work .process-box a,
.work .process-box a:hover,
.work .process-box a:active {
    color: #007bff;
}

.slide-text p {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}

.slide-text p.connect {
    font-weight: bold;
    font-size: 18px;
    color: #8bdced;
}
.team-close-btn{
    background-color: #5f5f5f !important;
}
#news .news-slid li{
    color: #fff;
}
.swiper-pagination{
    width: 100%;
}
.swiper-pagination .swiper-pagination-bullet{
    width: 16px;
    height:  16px;  
    padding: 5px;
    margin: 5px;
}
.team-under-box{
    min-height: 245px;
}
.team-under-box img{
    border:0px;
}

.slide-bg {
    background: linear-gradient(to right, #5f5f5f 30%, #5f5f5f);
    background-image: url('../../front/images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    height: 650px;
}
.slide-text h1{
    font-size: 72px;
}
.slide-text h3{
    font-size: 22px;
    font-weight: 800;
}
.slide-text p{
    font-size: 19px;
    font-weight: 300;
    padding-top: 25px;
    line-height: 35px;
}
#about .footer-logo img{
    max-width: 100%;
}
p {
    line-height: 23px;
    font-size: 18px;
    color: #586082;
    letter-spacing: 0.05rem;
}
#products .process-box{
    min-height: 370px;
}

@media (max-width: 575px) {
    .slid-btn {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    #about .footer-logo img{
        max-width: 50%;
    }
    .slide-text h1{
        font-size: 32px;
    }
    .slide-text h3{
        font-size: 20px;
    }
    .slide-text p{
        font-size: 16px;
    }
    .slide-bg .container{
        margin-top: 0px;
    }
    .slide-bg{
        padding-top: 100px;
    }
    .email-box button, .contact button{
        width: 100%;
    }
    .navbar-brand img{
        height: 55px;
        width: 110px;
    }

}
.team-under-box-button{
    background-color: #007bff;
}
.team-hover{
    border: 1px solid #007bff;
}
@media (max-width: 768px) {
    .slide-bg{
        padding-top: 100px;
    }
    .slide-text p{
        line-height: 30px;
    }
    .team-under-box{
        border: 2px solid #007bff;
        position: relative;
    }
    .team-under-box .team-under-box-button{
        display: flex;
    }
}
.team-box .sub-title{
    color: #2b94ce;
    padding-top: 15px;
    padding-top: 15px;
}
.team-hover .hover-text{
    padding-top: 25px;
}
.team-hover .hover-text p{
    padding-top: 25px;
    padding-bottom: 25px;
}
.team-hover .team-profile img{
    width: 60%;
}